# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MPLAB compilation files
*.p1
*.pre
*.cmf
*.elf
*.hex
*.hxl
*.lst
*.map
*.rlf
*.sdb
*.sym

# Custom file names
2016/CAN_to_USB_transceiver.X/nbproject/Makefile-genesis.properties
2015/Driving/car_motor_driver/Visual Micro/.car_motor_driver.vsarduino.h
2015/Driving/car_motor_driver/Visual Micro/Compile.vmps.xml
2015/Driving/car_motor_driver/Visual Micro/Configuration.Debug.vmps.xml
2015/Driving/car_motor_driver/Visual Micro/Upload.vmps.xml
2015/Driving/car_motor_driver/car_motor_driver.sdf
2015/Driving/car_motor_driver/car_motor_driver.sln
2015/Driving/car_motor_driver/car_motor_driver.v12.suo
2015/Driving/car_motor_driver/car_motor_driver.vcxproj
2015/Driving/car_motor_driver/car_motor_driver.vcxproj.filters
2015/Driving/car_motor_driver/car_motor_driver.opensdf

# Additional excludes for MPLAB X
*.obj.dmp
html/
**/nbproject/private/
**/nbproject/Package-*.bash
**/build/
**/nbbuild/
**/dist/
**/nbdist/
nbactions.xml
nb-configuration.xml
funclist
**/nbproject/Makefile-*
**/disassembly/
