# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MPLAB compilation files
*.p1
*.pre
*.cmf
*.elf
*.hex
*.hxl
*.lst
*.map
*.rlf
*.sdb
*.sym
