<launch>
  <!-- Just launch the our serial comms node and the raspi cam node.
       User has to start recording remotely manually. I recommend using a WiFi
       module and SSHing into the Pi to do this.
       rosservice call /camera/start_capture
        rosbag -a -0 BAG_NAME.bag -t TIME_IN_SEC 
       -->
  <node pkg="car_serial_comms" name="car_comms" type="car_serial_comms_node"/> <!-- output="screen" -->
  <node pkg="raspicam" name="pi_cam" type="raspicam_node"/>
  <!-- <node pkg="rosservice" type="rosservice" name="raspicam" args="call --wait /camera/start_capture"/> -->
</launch>
