<launch>

  <!-- Just launch the our serial comms node and the raspi cam node.
       User has to start recording remotely manually. I recommend using a WiFi
       module and SSHing into the Pi to do this. -->
  <node pkg="car_serial_comms" name="car_comms" type="car_serial_comms_node"/>
  <!-- <node pkg="raspicam" name="pi_cam" type="raspicam_node"/> -->

</launch>
