<launch>
  <!-- Launch the our serial comms node, the raspi cam node, and the vision
       processing node.
       User has to start camera capture manually. I recommend using a WiFi
       module and SSHing into the Pi to do this. -->
  <!-- <node pkg="car_serial_comms" name="car_comms" type="car_serial_comms_node"/> -->
  <!-- <include file="$(find zed_wrapper)/launch/zed.launch" /> -->
  <!-- <node pkg="raspicam" name="pi_cam" type="raspicam_node" args="_width:=320 _height:=240 _framerate:=7"/> -->

  <node pkg="image_transport" name="converter" type="republish" args="raw in:=camera/left/image_rect_color compressed out:=camera/left/image_rect_color" /> 

  <node pkg="iarrcMlVision" type="iarrcMlVision_node" name="vision_controller"/>
</launch>
