<launch>
  <!-- Launch the our serial comms node, the raspi cam node, and the vision
       processing node.
       User has to start camera capture manually. I recommend using a WiFi
       module and SSHing into the Pi to do this. -->
  <node pkg="car_serial_comms" name="car_comms" type="car_serial_comms_node"/>
  <node pkg="raspicam" name="pi_cam" type="raspicam_node"/>
  <node pkg="iarrcMlVision" type="iarrcMlVision_node" name="vision_controller"/>
</launch>
